@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;800&display=swap');
    *{
      padding: 0;
      margin: 0;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }
div{
    margin-right: 2mm;
    margin-left: 2mm;
}

@page {
  size: A4; /* Tamaño de la hoja */
  margin: 2cm; /* Márgenes de la hoja */
  orientation: portrait; /* Orientación: landscape para horizontal, portrait para vertical */
}

/* @page {
  margin: none;
  margin-top: 1cm;
}  */

.root{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.contenedor{
  display: flex;
  flex-direction: column;
  border-style:dashed;
  border-width: 1px;
  padding: 1px;
  width: 6.4cm;
  height: 2.6cm;
  background-color: blue;
}
.descripcion{
    height: 15%;
    font-size: 7px;
}
.descripcion_50caracteres{
    height: 15%;
    font-size: 9px;
}
.clave_sap{
    font-size: 9px;
}
.precio{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.a, .de {
  font-size: 7px;
}
.precio_{
  font-size: 10px;
  text-decoration:line-through;
  color: red;
}
.precio_descuento{
  font-size: 30px;
}
.contenedor_precio_sin_descuento{
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: center;
}
.contenedor_precio_descuento{
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 5%;
  margin-top: -10px;
}
.logo{
  width: 35px;
  height:35px;
}
.contenedor_logo_claveSAP{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  margin-top: 12px;
}
svg{
  width: 100px;
  height: 30px;
  background-color: aqua;
  
}
#roows{
  display: flex;
  flex-direction: row;
  background-color: aqua;
  height: 1cm;
  width: 100%;

}