@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;800&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #FDC420;
}
/* Circunferencia de "cargando data" */
.loader {
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FDC420;
    width: 100px;
    height: 100px;
    animation: spinner 4s linear infinite;
}
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Pantalla para resaltar modal y esconder el fondo de la apliación. */
.modal {
  background-color: white ;
}
/* Modal: para llenar los campos de generar etiquetas y de confirmación de creación de etiquetas */
.modal-content { 
  background-color: #fefefe;
  margin-top: 10%;
  margin: none;
  border-radius: 8px;
  padding: 20px;
  width: 60%; 
}
/* Tamaño para el logo*/
#logo{
  width: 10%;
}
/* Desaparece los divs */
.hide{
   display: none !important; 
}
 /* Características de los botones */
button {
  padding: 10px 20px;
  background-color: #FDC420;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif
}
button:hover {
  background-color: #FE9114;
}
#CrearEtiquetas{
  background-color: #E508FC;
}
#CrearEtiquetas:hover{
 background-color:  #A10EB0;
}
.botones-contenedor{
  justify-content: center;
}
input[type="radio"]:not(:checked) + label {
  /* Estilo para botones desseleccionados */
  opacity: 0.5;
  /* Agrega cualquier otro estilo que desees */
}
.contenedor_bts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*Span para cerrar el módulo*/
.close, .close1 {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus,
.close1:hover,
.close1:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


